<br><br>
<div class="container">
   <div class="row">
        <div class="col-md-4 col-12">
                    <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                        <div class="card-body">
                             <h2 class="card-title">Radiology services</h2>
                           
                        </div>
                    </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                <div class="card-body">
                    <h2 class="card-title">Pharmaceutical services</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                <div class="card-body">
                    <h2 class="card-title">Nursing services</h2>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4 col-12">
                    <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                        <div class="card-body">
                             <h2 class="card-title">Radiology services</h2>
                           
                        </div>
                    </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                <div class="card-body">
                    <h2 class="card-title">Pharmaceutical services</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card" style="height: 250px; font-weight: bolder; text-align: center;padding-top: 100px; text-transform: uppercase;">
                        
                <div class="card-body">
                    <h2 class="card-title">Nursing services</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>