<div class="row">
    <div class="col-md-8 col-12" style="padding-bottom: 50px;">
        <!-- <div class="text-center" style="padding-top: 30px;color: rgb(6, 29, 29);font-weight: bolder;">
            <h1>About us</h1>
        </div> -->
        <div class="container" style="padding: 50px;">
            <div class="text-justify">
                <h3>Caretake Hospital in LLW, Odisha</h3><br>
                <h5>Caretake Hospital in odisha. Hospitals with Address,
                    Contact Number, Photos, Maps. View Caretake Hospital, odisha on Justdial.</h5>
                 <p style="padding: 5px;font-size: 15px;">In Varanasi, Care Hospital is a recognized name in patient care. They are one of the well-known Hospitals in DLW. Backed with a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities,
                    they are one of the upcoming names in the healthcare industry. Located in , this hospital is easily accessible by various means of transport. A team of well-trained medical staff, non-medical staff and experienced clinical technicians work round-the-clock to offer various services that include Deluxe Room , General Ward , I.c.c.u. , Opd Services 10.00 2.00 7.00 8.00 Pm, Pathology Lab , Xray . Their professional services make them a sought after Hospitals in Varanasi. A team of doctors on board, including specialists are equipped with the knowledge and expertise for handling various types of medical cases.
                   
                   At Care Hospital in DLW, the various modes of payment are accepted. You can reach them at Bhikhari Pur,B.h.u Rd,Dlw-221004. The contact number of this hospital is +(91)-542-2319256. This establishment has been rated a 4.2 from a total of 0+ ratings. This listing is also listed in Hospitals, Private Hospitals.</p>
                   <p style="padding: 5px;font-size: 15px;">In Varanasi, Care Hospital is a recognized name in patient care. They are one of the well-known Hospitals in DLW. Backed with a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities,
                    they are one of the upcoming names in the healthcare industry. Located in , this hospital is easily accessible by various means of transport. A team of well-trained medical staff, non-medical staff and experienced clinical technicians work round-the-clock to offer various services that include Deluxe Room , General Ward , I.c.c.u. , Opd Services 10.00 2.00 7.00 8.00 Pm, Pathology Lab , Xray . Their professional services make them a sought after Hospitals in Varanasi. A team of doctors on board, including specialists are equipped with the knowledge and expertise for handling various types of medical cases.
                   
                   At Care Hospital in DLW, the various modes of payment are accepted. You can reach them at Bhikhari Pur,B.h.u Rd,Dlw-221004. The contact number of this hospital is +(91)-542-2319256. This establishment has been rated a 4.2 from a total of 0+ ratings. This listing is also listed in Hospitals, Private Hospitals.</p>

                   <p style="padding: 5px;font-size: 15px;">In Varanasi, Care Hospital is a recognized name in patient care. They are one of the well-known Hospitals in DLW. Backed with a vision to offer the best in patient care and equipped with technologically advanced healthcare facilities,
                    they are one of the upcoming names in the healthcare industry. Located in , this hospital is easily accessible by various means of transport. A team of well-trained medical staff, non-medical staff and experienced clinical technicians work round-the-clock to offer various services that include Deluxe Room , General Ward , I.c.c.u. , Opd Services 10.00 2.00 7.00 8.00 Pm, Pathology Lab , Xray . Their professional services make them a sought after Hospitals in Varanasi. A team of doctors on board, including specialists are equipped with the knowledge and expertise for handling various types of medical cases.
                   
                   At Care Hospital in DLW, the various modes of payment are accepted. You can reach them at Bhikhari Pur,B.h.u Rd,Dlw-221004. The contact number of this hospital is +(91)-542-2319256. This establishment has been rated a 4.2 from a total of 0+ ratings. This listing is also listed in Hospitals, Private Hospitals.</p>
                   

                   <section id="lab_social_icon_footer">
                    <!-- Include Font Awesome Stylesheet in Header -->
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="container">
                            <div class="text-center center-block">
                                    <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                    <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>
                    </div>
                    </section>

            </div>
        </div>
       
    </div>
    <div class="col-md-4 col-12">
        <div class="text-center" style="padding-top: 50px;padding-right: 20px;">
            <img src="https://images.unsplash.com/photo-1533042789716-e9a9c97cf4ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
        </div>
        <br>
        <br>
        
      <h5><strong>Name:</strong> Caretake Hospital (Varanasi)</h5> <br>
      <h5><strong>Address:</strong>  Newada Sunderpur Road,<br> Opposite Vishal Mega Mart,<br> Vara, Odisha - <br> 221005</h5><br> 
        <h5><strong>Phone:</strong> 7309373093, 9506211111</h5><br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3606.757880188088!2d82.98190641501189!3d25.312337533842705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d25.31328!2d82.98168319999999!4m5!1s0x398e2df95d41fe93%3A0x707b2e7e4e7df4d7!2sShubham%20Hospital%2C%20D-62%2F63%2C%20Nagar%20Nigam%20Rd%2C%20near%20Heart%20Hospital%2C%20Chandrika%20Nagar%2C%20Sigra%2C%20Varanasi%2C%20Uttar%20Pradesh%20221010!3m2!1d25.311910899999997!2d82.986507!5e0!3m2!1sen!2sin!4v1600588570674!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br><br>


        
    </div>
</div>


